.interactiveimages{
    display: flex;
    height: 100vh;
    background-color: black;
}

.imagecontainer{
    display: flexbox;
    width: auto;
    height: 200px;
    align-items: center;
    justify-content: center;

}

.imagecontainer>button{
    font-size: 40px;
    color: white;
    appearance: none;
    border-style: none;
    border-width: 0px;
    border-color: black;
    border-image: none;
    background-color: white;
    
}
.buttonimage{
    display: block;
    max-height: 113px;
    object-fit: cover;
}


.infobox{
    display: flex;
    flex-direction: column;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    height: 300px;
    width: 300px;
    z-index: 100;
    text-align: center;
    border-radius: 10px;
    
}

.infobox>div{
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    background-color: black;
}

.infobackground{
    position: relative;
    object-fit: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    filter: blur(8px);
}

.infoimage{
    position: absolute;
    max-height: 50%;
    object-fit: contain;
    z-index: 100;
    border-radius: 10px;

}
.slideimages{
    padding: 2%;
    background-color: black;
    height: 100vh;
    display: flex;
    gap: 70px;
}
.infobox>p{
    margin: 50px;
    text-align: left;
}

@media only screen and (min-width: 992px) {
    .infobox{
        height: 500px;
        width: 500px;
    }
    .buttonimage{
        max-height: 300px;
    }
}